/* ==================== MOBILE ==================== */
@media screen and (min-width: 320px){
    .container{
      max-width: 375px;
    }
    /* === 3 === */
    /* === 4 === */
}
  
/* ==================== TAB ====================*/
@media screen and (min-width: 768px){
    .container{
      max-width: 767px;
    }
    /* === 3 === */
    /* === 4 === */
    .wraper-dec{
      visibility: visible;
      display: block;
    }
}
  
/* ==================== DESTOP ==================== */
@media screen and (min-width: 1440px){
    .container{
      max-width: 1440px;
    }
    /* === 3 === */
    /* === 4 === */
    .wraper-tab{
      visibility: visible;
      display: block;
    }
}